# Recommendation Systems

### Background
##### The second part of this project aims to build a recommendation systems to find the complements items

In [2]:
# import libraries
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import pylab as pl
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [25]:
## helper functions

In [23]:
# Import the data
rec_sys = pd.read_table('dataset/All Transations - 2 Weeks.txt',skiprows =1,names= ('order_num','l1','l2','l3','product_Id','brand'))

In [24]:
# Data at a glance
rec_sys.head(5)

,order_num,l1,l2,l3,product_Id,brand
0,168266,Power Tools,Power Saws and Accessories,Reciprocating Saw Blades,265105,2768
1,123986,Safety,Spill Control Supplies,Temporary Leak Repair,215839,586
2,158978,Hardware,Door Hardware,Thresholds,284756,1793
3,449035,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,12579,1231
4,781232,Motors,General Purpose AC Motors,General Purpose AC Motors,194681,2603

In [18]:
rec_sys.shape

(2107537, 6)

In [19]:
rec_sys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2107537 entries, 0 to 2107536
Data columns (total 6 columns):
order_num     int64
l1            object
l2            object
l3            object
product_Id    int64
brand         int64
dtypes: int64(3), object(3)
memory usage: 96.5+ MB

In [20]:
rec_sys.describe(include='O')

             l1                          l2                  l3
count   2107537                     2107537             2107537
unique       33                         593                6203
top      Safety  Gloves and Hand Protection  Standard Batteries
freq     447381                      137779               38793

In [22]:
rec_sys.describe()

          order_num    product_Id         brand
count  2.107537e+06  2.107537e+06  2.107537e+06
mean   4.910857e+05  1.731658e+05  2.208146e+03
std    2.476892e+05  9.741614e+04  1.374319e+03
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    2.830710e+05  8.639000e+04  1.068000e+03
50%    4.830660e+05  1.813530e+05  1.793000e+03
75%    6.845630e+05  2.629210e+05  3.343000e+03
max    1.243048e+06  3.331270e+05  4.841000e+03